body{
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}
*{
  font-family: sans-serif;
}
#main{
  display: flex;
}
#slide{
  width: 30%;
  /* height: 2000px; */
  /* background-color: aqua; */
}
#tableDiv{
  width: 70%;
  margin-left: 10px;
}
thead{
  background-color: #707D8A;
  /* border: 1px solid #707D8A; */
  padding: 15px;
}
table{
  border: 1px solid #707D8A;
  margin-top: 10px;
  width: 100%;
}
#tbody >tr >td{
  padding: 5px;
  font: 14px Zoho_Puvi_Regular;
  font-weight: bold;
}
#cart{
  padding: 5px;
  /* margin-top: 5px; */
  color: #FFFFFF;
  background-color: #A52A2A;
  float: right;
  border-radius: 5px;
  border: none;
}
#cart:hover{
  background-color: #707D8A;
}
#cartDiv >p{
  margin-top: 0;
}
#tableDiv >div{
  width: 100%;
  color: #444444;
  font: 15px Zoho_Puvi_Regular;
  list-style: none;
  font-weight: bold;
  margin-right: 15px;
}
#viewCart{
  background-color: #707D8A;
  display: flex;
  justify-content:space-between;
  margin-bottom: 3px;
  /* float: right; */
}
#viewCart >a{
  color: #FFFFFF;
  text-decoration: none;
  background-color: #A52A2A;
  padding: 15px;
}
#cartDiv{
  width: 70%;
  /* border-bottom:1px solid #707D8A; */
}
/* note div */
#note{
  margin-top: 45px;
  /* border: 1px solid #707D8A; */
  padding: 5px;
  background-color: #F3EEEF   ;
}
/* premium div */
#premium{
  background-color: #F5EAEB;
  /* border: 1px solid #707D8A; */
  padding: 5px;
  /* width: 60%; */
  margin-bottom: 5px;
  /* overflow: hidden; */
}

/* slide div */
#slide >ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  list-style: none;
}
#slide >ul >li{
  font: 22px Zoho_Puvi_Regular;
  font-weight: 900;
  border-bottom:  0.1px solid #EDEEDF ;
}
#slide >ul >li:hover{
  background-color: #b1c4d8;
}